{{> header}}
{{> menu}}

<h1>Pel·lícules</h1>
<a class="btn add-btn" href="/movieAdd">Afegir pel·lícula</a>

<div class="page-container">
  {{#each movies}}
    <div class="card">

      <h2>{{title}}</h2>

      <p class="year"><strong>Any:</strong> {{release_year}}</p>
      <p><strong>Duració:</strong> {{length}} min</p>
      <p><strong>Descripció:</strong> {{description}}</p>

      <h3>Actors</h3>
      <ul>
        {{#each actors}}
          <li>
            <span>{{first_name}} {{last_name}}</span>
          </li>
        {{/each}}
      </ul>

      <a class="btn" href="/movie?id={{film_id}}">Veure detalls</a>

    </div>
  {{/each}}
</div>

{{> footer}}

